<div class="auth-page">
  <form class="auth-form" [formGroup]="formGroup" (ngSubmit)="onAuth()">
    <app-error-message
      @inOut
      (onClose)="closeError()"
      *ngIf="errorMessage.length"
      [errorMessage]="errorMessage"
    ></app-error-message>
    <app-validated-input
      [type]="'email'"
      [label]="'Email'"
      [required]="true"
      formControlName="email"
    ></app-validated-input>
    <app-validated-input
      [type]="'password'"
      [label]="'Password'"
      [required]="true"
      formControlName="password"
    ></app-validated-input>
    <button type="submit">Sign in</button>
  </form>
</div>
