.btn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  user-select: none;
  max-width: 200px;
}
