<div
  *ngrxLet="selectedComponents$ as selectedComponents"
  id="selectedComponents"
  class="form-builder"
  cdkDropList
  cdkDropListConnectedTo="availableComponents"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="selectedComponents"
  [ngStyle]="{
  'padding': generalStyles.verticalPadding + ' ' + generalStyles.horizontalPadding,
  'background-color': generalStyles.color
  }"
>
  <div
    cdkDrag
    [ngStyle]="{'margin': generalStyles.margin + '  0'}"
    (click)="chooseComponent(ndx)"
    *ngFor="let component of selectedComponents; index as ndx"
  >
    <ng-template
      [cdkPortalOutlet]="component.component"
    ></ng-template>
  </div>
</div>
