<div class="general-styles">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>General styles</mat-panel-title>
    </mat-expansion-panel-header>

    <form>

      <div class="form-group">
        <label>
          Horizontal padding:
          <input type="text" />
        </label>
      </div>

      <div class="form-group">
        <label>
          Vertical padding:
          <input type="text" />
        </label>
      </div>

      <div class="form-group">
        <label>
          Margin between components:
          <input type="text" />
        </label>
      </div>

      <div class="form-group">
        <label>
          Background Color:
          <input type="color" value="#ffffff"/>
        </label>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="chosenComponent === ndx"
    *ngFor="let component of selectedComponents; index as ndx"
    (opened)="chosenComponent=ndx; styles=selectedComponents[ndx].styles"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{component.styles.placeholderText}}</mat-panel-title>
    </mat-expansion-panel-header>

    <form (keyup.enter)="changeComponent()">
      <div class="form-group">
        <label>
          Placeholder text:
          <input
            name="placeholderText"
            (input)="changeStyles($event)"
            [value]="component.styles.placeholderText"
            type="text"
          >
        </label>
      </div>

      <div class="form-group">
        <label>
          Width
          <input (input)="changeStyles($event)" name="width" [value]="component.styles.width" type="text">
        </label>
      </div>

      <div class="form-group">
        <label>
          Height
          <input (input)="changeStyles($event)" name="height" [value]="component.styles.height" type="text">
        </label>
      </div>

      <div class="form-group">
        <label>
          Required
          <input [value]="component.styles.required" type="checkbox">
        </label>
      </div>

      <div class="form-group">
        <label>
          Border Style
          <input (input)="changeStyles($event)" name="borderStyle" [value]="component.styles.borderStyle" type="text">
        </label>
      </div>

      <div class="form-group">
        <label>
          Font Size
          <input (input)="changeStyles($event)" name="fontSize" [value]="component.styles.fontSize" type="text">
        </label>
      </div>

      <div class="form-group">
        <label>
          Input Font Weight
          <input (input)="changeStyles($event)" name="fontWeight" [value]="component.styles.fontWeight" type="text">
        </label>
      </div>

      <div class="form-group">
        <label>
          Select Color Input
          <input name="color" (input)="changeStyles($event)" [value]="component.styles.color" type="color">
        </label>
      </div>

    </form>

  </mat-expansion-panel>
</div>
