<div class="general-styles" *ngrxLet="selectedComponents$ as selectedComponents">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>General styles</mat-panel-title>
    </mat-expansion-panel-header>

    <form (keyup.enter)="changeForm()">

      <div class="form-group">
        <label>
          Horizontal padding:
          <input
            (input)="changeGeneralStyles($event)"
            name="horizontalPadding"
            [value]="generalStyles.horizontalPadding"
            type="text"
          />
        </label>
      </div>

      <div class="form-group">
        <label>
          Vertical padding:
          <input
            (input)="changeGeneralStyles($event)"
            name="verticalPadding"
            [value]="generalStyles.verticalPadding"
            type="text"
          />
        </label>
      </div>

      <div class="form-group">
        <label>
          Margin between components:
          <input
            (input)="changeGeneralStyles($event)"
            name="margin"
            [value]="generalStyles.margin"
            type="text"
          />
        </label>
      </div>

      <div class="form-group">
        <label>
          Background Color:
          <input
            (input)="changeGeneralStyles($event)"
            name="color"
            [value]="generalStyles.color"
            type="color"
          />
        </label>
      </div>
    </form>
  </mat-expansion-panel>

  <app-expandable-panel
    *ngFor="let component of selectedComponents; index as ndx"
    [component]="component"
    [index]="ndx"
  ></app-expandable-panel>

</div>
